ansible-core==2.13.0
# https://github.com/ansible/ansible/archive/devel.tar.gz

ansible-lint==6.2.2

# For unit testing in vscode
pytest

httpretty==1.1.4
q==2.6

# vscode reStructuredText support
docutils
sphinx
sphinx-autobuild
rstcheck
