ansible-core==2.19.3
# ansible-core @ https://github.com/ansible/ansible/archive/devel.tar.gz

ansible-lint==26.1.1
antsibull-docs==2.21.0
antsibull-changelog==0.35.0

# For unit testing in vscode
pytest

httpretty==1.1.4
q==2.7

# vscode reStructuredText support
docutils
sphinx
sphinx-autobuild
rstcheck
