ansible-core==2.13.2
# https://github.com/ansible/ansible/archive/devel.tar.gz

ansible-lint==6.3.0
antsibull-docs==1.1.0
antsibull-changelog==0.15.0

# For unit testing in vscode
pytest

httpretty==1.1.4
q==2.6

# vscode reStructuredText support
docutils
sphinx
sphinx-autobuild
rstcheck
